# .env.example

# Server Configuration
PORT=8080

# JWT Configuration
JWT_SECRET=your_jwt_secret

# Database Configuration
DATABASE_URL="postgresql://your_user:your_password@your_host:your_port/your_database"



